<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ackooBaseURL</key>
	<string>https://cryptic-garden-59749.herokuapp.com/</string>
	<key>partnerToken</key>
	<string></string>
</dict>
</plist>
